<div class="header">
  <h1>Question</h1>
  <p>-----------------------</p>
</div>

<form action= "/answer">
  <input type="text" name="question" placeholder="What's your question ?">
  <input type="submit" name="Ask!">
</form>
